extends layout

block content
  h1= title
  p items for ADA and Jyllie's #{title}
  div#container

  div#nathan.box
  div#jyllie.box
  div#ada.box
  div#oakley.box
  
  script(type='text/javascript', src='/javascripts/app-draggable.js')
