extends layout

block content
  h1= title
  p items for ADA and Jyllie's #{title}
  div#container
    div#box1.box Drag and throw me
    div#box2.box(style='left:392px; background-color:red;') Drag and throw me too

  div.controls
    ul
      li.controlsTitle Options
      li
        label Snap end position to grid
          input#snap(type='checkbox' name='snap' value='1')
      li
        label Live snap
          input#liveSnap(type='checkbox' name='liveSnap' value='1')

  div#nathan.box
  div#jyllie.box
  div#ada.box
  div#oakley.box
  
  script(type='text/javascript', src='/javascripts/app-draggable.js')
