extends layout

block content
  h1= title
  p items for ADA and Jyllie's #{title}
  div#container
  div#nathan.box
  div#jyllie.box
  div#ada.box
  div#oakley.box
  
  ul#list

  input#create(type='text' name='create' placeholder='new item')

  form#comment
    textarea#markdown.text-readable-input
    button#submit.text-heavy-button comment
