extends layout

block content
  h1= title
  p items for ADA and Jyllie's #{title}
  div#container
  div#nathan.box.selected
  div#jyllie.box
  div#ada.box
  div#oakley.box

  ul#list

  input#create(type='text' name='create' placeholder='new item')

  form#comment
    textarea#markdown.text-readable-input
    button#submit.text-heavy-button comment

block gamepad_tester
  div#menu
    input#mode-visual(type='radio' name='mode' value='visual' checked)
    label(for='mode-visual') Visual mode
    input#mode-raw(type='radio' name='mode' value='raw')
    label(for='mode-raw') Raw mode

  div#no-gamepad-support
    Your browser does not seem to support Gamepad API, or it might be we’re not detecting it very well. Sorry!

  div#no-gamepads-connected
    No gamepads seem to be connected. Be sure to plug in a gamepad and then press any of its buttons to activate it.

  ul#gamepads
