doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(type='text/javascript', src='/javascripts/underscore-min.js')
    script(type='text/javascript', src='/javascripts/react.min.js')
    script(type='text/javascript', src='/javascripts/JSXTransformer.js')
    script(src='http://code.jquery.com/jquery-1.10.0.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js')
