#content
  border: thin solid black;
  width: 85%;
  height: 85%;

#list
  position: absolute;
  top: 1em;
  right: 1em;

#create
  position: absolute;
  top: 1em;
  right: 10em;
  width: 10em;

.box
  border: thick #40e0d0 solid;
  margin: 1em;
  padding: 1em;
  cursor: hand;

#nathan
  width: 4em;
  height: 6em;

#jyllie
  width: 5em;
  height: 5em;
  border-radius: 100px;

#ada
  width: 2em;
  height: 4em;
  border-radius: 10px;

#oakley
  width: 1em;
  height: 2em;
